#pricing {
    max-width: 70rem;
    margin-inline: auto;
    margin-bottom: 302px;
    gap: 2rem;

    position: relative;

    /* & .bunny {
        position: absolute;
        left: 430px;
        bottom: 455px;
    } */
    & .titulo {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        margin-bottom: 138px;
    }

    & .card-1 {
        z-index: 1;
    }

    
    & .card-1, .card-2, .card-3 {
        width: 288px;
        height: 416px;
        margin-inline: auto;
        padding: 20px;
        border-radius: 15px;
        background-color: var(--shape-hover);
        
        & .div-1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
        & .span1 {
            color: var(--pink-light);
            padding: 8px 12px;
        }
        & .span2 {
            background-color: var(--shape-stroke);
            padding: 8px 12px;
            font: var(--text-body);
            border-radius: 20px;
        }
        }
        & .div-2 {
            display: flex;
            flex-direction: column;
            margin: 24px 0 8px 0;
            text-align: start;
            & p {
                color: var(--text-label);
            }
        }
        & .div-3 {
            gap: 8px;
            text-align: start;
            margin-top: 70px;

            & p {
                color: var(--text-label);
            }
            & div {
                display: flex;
                align-items: center;
                width: 100%;
                height: 17px;
                margin-bottom: 12px;
                & p {
                    font: var(--body-xs);
                }
                & img {
                    width: 50px;
                }
            }
        }
    }

    & .card-2 {
        & .div-3 {
            margin-top: 100px;
        }
    }
     & .card-3 {
        & .div-3 {
            margin-top: 40px;
        }
    }

    & .cards {
        position: relative;
        height: 600px;
        display: flex;
        justify-content: center;

        & .card-2, .card-3 {
            & .div-1 {
                & .span1{
                    color: var(--blue-light);
                }
            }
        }

        & .card-1, .card-2, .card-3{
            position: absolute;
        }
        
            & .card-2 {
                animation: emergeLeft .5s ease-out both;
                animation-timeline: view();
                animation-range: entry 0% cover 50%;
                background-color: var(--shape-base);

                &:hover {
                    background-color: var(--shape-hover);
                    .card-1 {
                        background-color: var(--shape-base);
                    }
                }
            }
            & .card-3 {
                animation: emergeRight .5s ease-out both;
                animation-timeline: view();
                animation-range: entry 0% cover 50%;
                background-color: var(--shape-base);

            }
    }
    .card {
  background-color: var(--shape-base);
  transition: background-color 0.5s ease;
}
    .cards:has(.card-2:hover, .card-3:hover) .card-1  {
  background-color: var(--shape-base);

}
.card-1:hover, .card-2:hover, .card-3:hover {
  background-color: var(--shape-hover);
  transition: background-color .5s ease, scale .5s ease;
  z-index: 2;
  scale: 1.02;
  box-shadow: 10px 10px 55px rgba(255, 255, 255, 0.1);
}


}

@keyframes emergeLeft {
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
        transform: translateX(-290px) translateY(60px) rotate(-8deg);
    }
}
@keyframes emergeRight {
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
        transform: translateX(290px) translateY(60px) rotate(8deg);
    }
}

.button {
    width: 100%;
    margin-top: 12px;
    padding: 12px 0;
    background-color: var(--pink-dark);
    color: var(--text-body);
    border-radius: 15px;
    border: none;
    &:hover {
        transition: all 0.2s ease;
        background-color: var(--pink-base);
    }
}
.button2 {
    width: 100%;
    margin-top: 12px;
    padding: 12px 0;
    background-color: var(--blue-dark);
    color: var(--text-body);
    border-radius: 15px;
    border: none;
    &:hover {
        transition: all 0.2s ease;
        background-color: var(--blue-mid);
    }
}